body{
    background-image: url("sigma.gif");
    background-size: 5vw;
    background-repeat: repeat;
}

#horseImg{

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
}

#textDiv{
    text-align: center;
    color: black;
    -webkit-text-stroke: 0.2vw;
    -webkit-text-stroke-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
}